@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-typography';

.content {
  flex: 1;
  overflow: auto;
}

.content-container {
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 90rem;

  .picture {
    margin-bottom: 4rem;
  }

  h1 {
    margin-bottom: 2rem;
    @include m-typography.font-xxl;
  }

  hr {
    margin: 5rem 0;
    border-width: 0;
    border-bottom: 1px solid #ebebeb;
  }

  .body {
    margin: 0 auto;
    padding-top: 2rem;
    width: 72.5rem;
    color: #1f2226;
    font-size: 1.875rem;

    h2 {
      margin-bottom: 1rem;
      color: #9c9ea1;
      font-size: 1.875rem;
    }

    hr {
      margin: 2rem 0;
    }

    .zapEditor {
      padding: 0;

      .viewingMode {
        padding: 0;
      }

      .DraftEditor-root {
        margin: 0 !important;
      }
    }
  }

  .social {
    margin: 0 auto;
    width: 72.5rem;
    color: #1f2226;
    font-size: 1.875rem;

    h2 {
      margin-bottom: 3rem;
      font-size: 2.5rem;
    }
  }
}

.content-container--spacing {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.content-container-actionBar {
  display: flex;
  margin-bottom: 2rem;

  > * + * {
    margin-left: 2rem;
  }
}
