{
  "env": {
    "browser": true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "eol-last": 1,
    "no-console": 0,
    'react/no-array-index-key': 0,
    import/no-unresolved: [2, { caseSensitive: false }],
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
    },
  },
}
