@use '@zapsa/zap-styles/dist/import-var-mix/variables';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-typography';

.announcements {
  margin-top: 5rem;
}

.announcement-list-item {
  position: relative;
  border: 1px solid variables.$grey-200;

  & > a {
    display: block;
    margin-right: 6rem;
    padding: 2rem 0 2rem 2rem;
    cursor: pointer;
  }

  h3 {
    color: variables.$grey-900;
    @include m-typography.font-m;
  }
}

.announcement-list-item + .announcement-list-item {
  border-top: 0;
}

.announcement-item-date {
  color: variables.$grey-600;
  @include m-typography.font-xs;
}

.announcement-item-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
