$prefixClass: rc-time-picker;

.#{$prefixClass}
{
    display: inline-block;

    box-sizing: border-box;
    *
    {
        box-sizing: border-box;
    }
}

@import 'picker';
@import 'panel';
@import 'header';
@import 'select';
