@use '@zapsa/zap-styles/dist/import-var-mix/variables';

.signup {
  height: 100%;
  background-color: variables.$grey-200;
}

.signup-content {
  padding: 13rem;
  width: 90rem;
  height: 100%;
  background-color: white;

  h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}
