@use '@zapsa/zap-styles/dist/import-var-mix/variables' as zs-variables;
@use '../variables';

.alert {
  padding: 2rem;
}

.alert--error {
  border-radius: variables.$border-radius;
  background-color: zs-variables.$red-50;
  color: zs-variables.$red-600;
}
