@use '@zapsa/zap-styles/dist/import-var-mix/variables' as zs-variables;
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-typography';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-icons';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-shadow';
@use '../variables';

.cropper {
  position: relative;
  margin-bottom: 3rem;
}

.cropper-view-box {
  outline: 2px solid zs-variables.$grey-200;
}

.cropper-menu {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: inline-flex;
  margin-top: 1rem;
  margin-top: 1rem;
  border: 1px solid zs-variables.$grey-200;
  border-radius: variables.$border-radius;
  background-color: zs-variables.$white-00;
  transform: translateX(-50%);
  @include m-shadow.shadowLevel-100;
}

.cropper-menu-group {
  display: flex;
  height: 4rem;
  border-right: 1px solid zs-variables.$grey-200;
}

.cropper-menu-button {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 4rem;
  height: 4rem;
  outline: none;
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  @include m-icons.icon-fill(zs-variables.$grey-600);

  &:hover {
    @include m-icons.icon-fill(zs-variables.$grey-900);
  }

  &.is-active {
    background-color: zs-variables.$prime-50;
    @include m-icons.icon-fill(zs-variables.$prime-500);
  }
}

.cropper-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  height: 45rem;
  background-color: zs-variables.$grey-50;

  .button {
    align-self: center;
    margin-bottom: 1rem;
  }
}

.cropper-placeholder-description {
  color: zs-variables.$grey-600;
  @include m-typography.font-xs;
}

.cropper-note {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  color: zs-variables.$grey-300;
  text-align: center;
  @include m-typography.font-xs;
}
