@use '@zapsa/zap-styles/dist/import-var-mix/variables' as zs-variables;
@use '../variables';
@use '../mixins/m-placeholder';

$zap-google-map-height: 45rem;

.zap-google-map {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 4rem;

  // hide map and show input
  &.input-string,
  &.no-input {
    .zap-google-map-container,
    .zap-google-map-element {
      height: 6rem !important;
    }

    .gm-style {
      > * {
        display: none;
      }
      > input {
        display: block;
      }
    }
  }

  &.edit {
    .zap-google-map-container {
      height: $zap-google-map-height + 6rem;
    }

    .zap-google-map-element {
      height: $zap-google-map-height + 6rem;
    }
  }
}

.zap-google-map-container {
  height: $zap-google-map-height;
}

.zap-google-map-element {
  height: $zap-google-map-height;
}

.zap-google-map-clear {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  z-index: 1;
  background-color: zs-variables.$white-00;

  &:hover {
    background-color: zs-variables.$white-00;
  }
}

// overwrite the google maps module
//

// location search input
.gm-style > input {
  left: 0 !important;
  display: block;
  padding: 1rem 8rem 1rem 2rem;
  width: 100%;
  height: auto;
  height: 6rem;
  border: 1px solid zs-variables.$grey-300;
  border-radius: variables.$border-radius;
  box-shadow: 0 1rem 0 0 zs-variables.$white-00;
  color: zs-variables.$grey-900;
  font-size: 1.875rem;
  font-family: 'Roboto', sans-serif;
  line-height: 3rem;
  @include m-placeholder.placeholder {
    color: zs-variables.$grey-500;
    opacity: 1;
  }
}

// change the postion of the map
.zap-google-map.edit {
  .gm-style > div:first-child[style*='cursor'] {
    transform: translateY(8rem);
  }
}
