.label {
  display: inline-block;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: $grey-300;
  color: $grey-700;
  text-transform: uppercase;
  @include font-xs;
}

.label--error {
  padding: 0;
  width: 2rem;
  background-color: $red-500;
  color: $white-00;
  text-align: center;
  font-weight: 500;
}
