@use '@zapsa/zap-styles/dist/import-var-mix/variables';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-icons';

.markAsReadBar {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  padding: 2rem 0;
  border-top: 1px solid variables.$orange-500;
  border-bottom: 1px solid variables.$orange-500;

  .zap-icon {
    margin-right: 1rem;
    @include m-icons.icon-fill(variables.$grey-900);
  }

  .actions {
    margin-left: auto;
  }
}

.markAsReadBar--confirmed {
  border-color: variables.$grey-300;
  color: variables.$grey-500;

  .zap-icon {
    @include m-icons.icon-fill(variables.$grey-500);
  }
}

.markAsReadBar-check {
  color: variables.$grey-900;
  font-weight: 500;
  .zap-icon {
    @include m-icons.icon-fill(variables.$green-500);
  }
}
