.markAsReadBar {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  padding: 2rem 0;
  border-top: 1px solid $orange-500;
  border-bottom: 1px solid $orange-500;

  .zap-icon {
    margin-right: 1rem;
    @include icon-fill($grey-900);
  }

  .actions {
    margin-left: auto;
  }
}

.markAsReadBar--confirmed {
  border-color: $grey-300;
  color: $grey-500;

  .zap-icon {
    @include icon-fill($grey-500);
  }
}

.markAsReadBar-check {
  color: $grey-900;
  font-weight: 500;
  .zap-icon {
    @include icon-fill($green-500);
  }
}
