@use '@zapsa/zap-styles/dist/import-var-mix/variables' as zs-variables;
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-typography';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-shadow';
@use '../variables';

.modal {
  margin: 8vh auto auto;
  padding: 3rem;
  width: 90rem;
  border: 1px solid zs-variables.$grey-200;
  border-radius: variables.$border-radius;
  color: zs-variables.$grey-900;
  @include m-shadow.shadowLevel-300;

  &--medium {
    width: 64rem;

    .modal-title {
      @include m-typography.font-l;
    }
  }

  &--small {
    padding: 1rem;
    width: 40rem;
    @include m-shadow.shadowLevel-200;
  }
}

.modal-title {
  margin-bottom: 3rem;
  @include m-typography.font-xl;
}

.modal-body {
  margin-bottom: 3rem;
}

.modal-footer {
  display: flex;
  flex-direction: row-reverse;

  .button + .button {
    margin-right: 2rem;
  }
}

.modal-header {
  margin-bottom: 3rem;
}

.modal-header-title {
  margin-bottom: 1rem;
  @include m-typography.font-xl;
}

.modal-body-scrollList .list-content {
  overflow-y: auto;
  min-height: 25rem;
  max-height: calc(72vh - 40rem);
}
