@use '@zapsa/zap-styles/dist/import-var-mix/variables';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-shadow';

.multiselect {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  border-top: 1px solid variables.$grey-200;
  background-color: variables.$white-00;
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  @include m-shadow.shadowInverseLevel-300;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
