@use '@zapsa/zap-styles/dist/import-var-mix/variables';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-typography';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-icons';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
  outline-width: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: variables.$grey-600;
  cursor: pointer;
  @include m-typography.font-m;

  &:hover {
    //background-color: $grey-50;
    color: variables.$grey-900;
  }
}

.pagination-item--icon {
  align-self: stretch;
  line-height: 1rem;

  .zap-icon {
    @include m-icons.icon-fill(variables.$grey-900);
  }

  &:hover {
    .zap-icon {
      @include m-icons.icon-fill(variables.$grey-700);
    }
  }
}

.pagination-item--active {
  border-bottom: 2px solid variables.$prime-500;
  color: variables.$grey-900;
  font-weight: 500;
}
