@use '@zapsa/zap-styles/dist/import-var-mix/variables';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-typography';
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-icons';

.select-option-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: variables.$grey-900;
}

.select-option-icon {
  margin-right: 1rem;
  @include m-icons.icon-fill(variables.$grey-500);
}

.select-option-description {
  width: 100%;
  color: variables.$grey-500;
  @include m-typography.font-xs;
}

// Select components overrides

.Select-option {
  &.is-active {
    background-color: variables.$grey-50;
  }

  &.is-selected {
    background-color: variables.$grey-100;
  }

  &.is-focused {
    background-color: variables.$grey-50;
  }
}
