@use '@zapsa/zap-styles/dist/import-var-mix/variables' as zs-variables;
@use '@zapsa/zap-styles/dist/import-var-mix/mixins/m-typography';
@use '../variables';

.zapEditor {
  .toolbar {
    margin-bottom: 1rem;
  }
  .mediaBlock-container {
    &--small {
      max-width: 50%;

      @media (max-width: 800px) {
        margin-right: 4rem;
        margin-left: 4rem;
        max-width: 80%;
      }
    }

    &--normal {
      margin-right: variables.$editorMargins;
      margin-left: variables.$editorMargins;

      @media (max-width: 800px) {
        margin-right: variables.$editorMarginsSmall;
        margin-left: variables.$editorMarginsSmall;
      }
    }
  }

  .toolbar {
    margin-right: variables.$editorMargins;
    margin-left: variables.$editorMargins;

    @media (max-width: 800px) {
      margin-right: variables.$editorMarginsSmall;
      margin-left: variables.$editorMarginsSmall;
    }
  }

  .editorBar {
    border-radius: variables.$border-radius;
    background-color: zs-variables.$white-00;
  }

  .editorBar-group {
    height: 4rem;
  }

  .editorBar-button {
    width: 4rem;
    height: 4rem;
  }

  .zapEditor {
    padding-top: 1.5rem;
  }

  .zapEditor-viewingMode {
    padding-top: 1.5rem;
  }

  .DraftEditor-root {
    margin-right: variables.$editorMargins;
    margin-left: variables.$editorMargins;

    @media (max-width: 800px) {
      margin-right: variables.$editorMarginsSmall;
      margin-left: variables.$editorMarginsSmall;
    }
  }

  .DraftEditor-editorContainer figure {
    margin-right: - variables.$editorMargins;
    margin-bottom: 3rem;
    margin-left: - variables.$editorMargins;

    @media (max-width: 800px) {
      margin-right: - variables.$editorMarginsSmall;
      margin-left: - variables.$editorMarginsSmall;
    }
  }

  .input--embed {
    height: 9rem;
    resize: none;
  }


  // ICONS
  //

  .zap-icon {
    div {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }


  // TYPOGRAPHY
  //

  .DraftEditor-editorContainer {
    @include m-typography.font-m;

    h1,
    h2 {
      margin-top: 2rem; //this only defines the margin of the first h1 & h2
      margin-bottom: 1rem;
      font-weight: 500;
      @include m-typography.font-xl;
    }

    div ~ h1,
    div ~ h2 {
      // add spacing between text and headlines
      margin-top: 5rem;
    }

    h3 {
      margin-top: 5rem;
      margin-bottom: 1rem;
      @include m-typography.font-l;
    }

    blockquote {
      margin: 2rem 0 3rem 2rem;
      padding: 0.5rem 0 0.5rem 1rem;
      color: zs-variables.$grey-600;
      @include m-typography.font-l;
    }

    a {
      cursor: text;
    }
  }
}
